<!DOCTYPE html>
<html></html>
<head>
  <title>Recipe App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Recipe Box", root_path %>
      </div>

      <%= form_tag(search_page_path, :method => "get",
          class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
          </div>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= image_tag current_user.gravatar_url, :class => "gravatar" %></li>
          <li>
            <%= link_to "New Recipe", new_recipe_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>


  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>



    <%= yield %>
  </div>


  <footer class="container-fluid text-center" style="  background-color: #d9d9d9;color: black;padding: 15px;       margin-top: 15px;">
       <div>
      Our Recipes Website is Offering you above these Orders.
       <br>
       No 1509, 15 Floor,Sakura Tower<br>
       yangonpress@gmail.com<br>
       Ph: 0918848225 <br>
       <div>
           <div class="row">
             <div class="col-sm-4">
               <a href="/juices"><h5>Juice</h5></a>
               We offering You These Orders<br>
               We admit that the Food are really good Quality <br>
             </div>
             <div class="col-sm-4">
               <a href="/meals"><h5>Meals</h5></a>
               <%= Time.now.year %><br>
               We offering You These Orders<br>
               We admit that the  are Juices really good Quality and Healthy for you.<br>
             </div>
             <div class="col-sm-4">
               <h5>Social</h5>
               <a href="https://www.facebook.com/"><p>Facebook</p></a>
               <a href="https://www.instagram.com/">
                 <p>Instagram</p>
               </a>
               <a href="https://www.google.com/"><p>Google</p></a>

             </div>
           </div>
         </div>
       </div>





     </footer>
</body>
